spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fraud_rules
    username: postgres
    password: T@o!2025
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        format_sql: true

    show-sql: true

server:
  port: 8585
